.video-container {
  height: 100vh;
}
.video-overlay {
  position: absolute;
  left: 1%;
  z-index: 999;
  top: 2%;
  color: white;
  user-select: none;
  font-size: 24px;
  color: #cb60b3;
}
.back:hover {
  cursor: pointer;
}
.show-videos-modal:hover {
  cursor: pointer;
}