<div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 video-container" style="padding: 0px; position:relative;">
                <div *ngIf="currentVideo !== undefined" class="d-flex flex-row video-overlay">
                    <div (click)="back()" class="p-2 back" [hidden]="!showVideoControls">
                        <i class="fa fa-reply"></i>
                    </div>
                    <div (click)="showAllVideosModal()" class="p-2 show-videos-modal" [hidden]="!showVideoControls">
                         <i class="fa fa-bars"></i>
                    </div>
                    <div class="p-2" [hidden]="!showVideoControls">{{currentVideo.videoName}}</div>
                </div>
                <videojs (videoPlaying)="videoPlaying($event)" (videoPaused)="videoPaused($event)" *ngFor="let video of videoSources; let idx = index" [idx]="idx" [url]="video.src"></videojs>
            </div>
        </div>  
    </div>      