.logo {
  padding: 20px 20px;
}

.main {
  text-align: center;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 70px;
}
.payment-form input {
  margin-bottom: 15px;
  padding: 10px 50px;
  text-align: center;
  border-radius: 5px;
}

.payment-title {
  display: flex;
  margin-right: 100px;
}

.payment-title button {
  background-color: white;
  font-weight: bold;
  margin-right: 20px;
  margin-bottom: 10px;
}

.payment button{
  margin: 10px 0px;
  background: white;
  color: black;
  border: 1px solid black;
}

.exp-cv {
  display: flex;
}

.expiration input {
  margin-right: 25px;
}
.nocharge {
  text-align: center;
  line-height: 1pt;
}


i {
  margin: 0px 10px;
}

p.bold {
  font-weight: 900;
  font-size: 20px;
}

h1 {
  font-weight: 550;
  font-size: 31px;
}
.selected-plan-container {
  margin-right: 20px;
  width: 200px;
  background-color: #8e8e8e;
  color: white;
}
.stripe-errors {
  font-size: 14px;
  color: red;
}
.submit-container {
  margin-top: 10px;
}
.card-brand {
  position: absolute;
  top: 18%;
  left: 0%;
}