<div class="logo">
  <a href="#"><img src="/assets/images/Logo.png"/></a>
</div>
<div class="main" [@fadeBack]>
<div class="d-flex flex-row">
  <div class="p-2">
      <div class="selected-plan-container card">
          <div class="card-body">
            <h5 class="card-title">Subscription for</h5>
            <h6>{{selectedPlan.PlanName}} Plan</h6>
            <p class="card-text">${{selectedPlan.PlanPrice}}/mo </p>
            <button (click)="changePlan()" type="button" class="btn btn-primary">Change</button>
          </div>
      </div>
  </div>
  <div class="p-2">
      <div  class="payment-select" *ngIf="!paymentSelected">
          <div class="d-flex flex-column align-items-center">
      
        <h1> Setup your secure payment. </h1>
            <div class="payment">
              <button
                type="button"
                id="btn-cc"
                class="btn btn-default"
                (click)="showCreditCardForm()">
                Credit or Debit <i class="fa fa-cc-visa"></i><i class="fa fa-cc-mastercard"></i><i class="fa fa-cc-amex"></i>
              </button>
      
            </div>
            <div class ="payment">
              <button
                type="button" (click)="payWithPaypal()"
                id="btn-paypal"
                class="btn btn-default">
                  Paypal <i class="fa fa-cc-paypal"></i>
              </button>
            </div>
      
            <p>No commitment, cancel anytime!</p>
      
            <div class=nocharge>
                <p>If you don't want to get charged,</p>
                <p>cancel before <strong>2018-04-23</strong></p>
            </div>
      
            <a (click)="skipIntroPayment()" style="color: #007bff; cursor:pointer;"> I want to look around first </a>
          </div>
        </div>
        <div class="payment-form" *ngIf="paymentSelected" [@slidePay] >
          <div class="d-flex flex-column align-items-center">
            <div class="payment-title">
              <button
                type="button"
                id="btn-back"
                class="btn btn-default"
                (click)="hideForm()">
                return
              </button>
              <h1> Pay using your credit/debit card. </h1>
            </div>
            <div class="d-flex flex-column" style="line-height:30px; width: 60%;position:relative;">
              <div>
                  <span style="color: red;" id="card-errors"></span>
              </div>
              <form id="stripe-payment-form" method="POST">
                  <label style="margin-bottom: 0px;">First Name</label>
                  <input name="firstname"  [(ngModel)]="ccFirstName" style="height: 35px;" class="form-control" type="text" required placeholder="What does your card call you?"/>
                  <label style="margin-bottom: 0px;">Last Name</label>
                  <input name="lastname" [(ngModel)]="ccLastName" style="height: 35px;" class="form-control" type="text" required placeholder="What's the last name on your card?"/>
                  Credit or debit card
                  <div style="position:relative;">
                      <div  class="form-control" id="card-number"></div>
                      <span class="card-brand"><i class="pf pf-credit-card" id="brand-icon"></i></span>
                  </div>
                  <div class="stripe-errors" id="card-number-errors"></div>
                  Credit expiry
                  <div class="form-control" id="card-expiry">
                    
                  </div>
                  <div class="stripe-errors" id="card-expiry-errors"></div>
                  Security Code (CVC)
                  <div class="form-control" id="card-cvc">
                    
                  </div>
                  <span class="stripe-errors" id="card-cvc-errors"></span>
                  <div class="submit-container">
                    <button type="submit" class="btn btn-danger get-couchfit"> Get couchfit.</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
  </div>
</div>
</div>
<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "medium"
color = "#fff"
type = "ball-clip-rotate-pulse">
<span style="color: white; z-index: 999; margin-top: 10px;">Redirecting...</span>
<!-- <div style="margin-top: 10px; color: white; cursor:pointer; text-align:center;">
  <a (click)="cancelPaypalRedirect()">cancel</a>
</div> -->