.main {
  background-image: url("/assets/images/HeroImage.png");
  background-size: cover, cover;
  background-position: center, center;
  height: 75vh;
  width: 100%;
  display: flex;
  padding-left: 50px;
  justify-content: center;
  align-items: center;
}

h1 {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 6rem;
  font-weight: 700;
  text-shadow: 0px 3px 4px #111314;
  color: white;
	display: inline-block;
	padding: 1rem;
	position: relative;
	opacity: 1;
	transform: scale(1.2);
	transition: transform 0.5s ease, opacity 1s ease;
}

.is-loading h1 {
	transform: scale(0.7);
	opacity: 0;
}

html {
  height: 100%;
}


#description {
  font-size: 3em;
  text-shadow: 0px 3px 4px #232729;
  color: white;
  margin: 0;
}



h1:before,
h1:after {
	height: 2px;
	width: 100%;
	content: "";
	background: white;
	display: block;
	position: absolute;
	transition: width 0.4s ease;
	transition-delay: 0.8s;
}

h1:before {
	top: 0;
	left: 0;
}

h1:after {
	bottom: 0;
	right: 0;
}

.is-loading h1:before,
.is-loading h1:after {
	width: 0;
}

.get-couchfit {
  padding: 15px 35px;
}

.bottom-part {
  padding: 40px 0px;
}

.bottom-part p {
  margin: 0 auto;
  color: white;
  font-size: 1.5rem;
}

.bottom-part button {
  margin: 10px auto;
}
