<div class="main">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div id="content">
          <h1>Couchfit</h1>
          <p id="description">A great workout everytime, on your</p>
          <p id="description">schedule</p>
        </div>
        <button (click)="join()" *ngIf="!startupService.isAuthenticated"
          type="button"
          class="btn btn-danger get-couchfit">
            GET COUCHFIT
        </button>
        <button (click)="openWebPlayer()" *ngIf="startupService.isAuthenticated"
        type="button"
        class="btn btn-danger get-couchfit">
            OPEN WEB PLAYER
      </button>
      </div>
    </div>
  </div>
  <div class="bottom-part bg-dark">
    <div class="row no-margin">
        <p> Workout anywhere, cancel anytime. </p>
    </div>
    <div class="row no-margin">
        <button (click)="join()" *ngIf="!startupService.isAuthenticated" type="button" class="btn btn-danger"> JOIN FREE FOR A MONTH </button>
        <button (click)="openWebPlayer()" *ngIf="startupService.isAuthenticated" type="button" class="btn btn-danger"> START WORKING OUT </button>
   </div>
  </div>
  