<ng-template #allVideoTemplate>
  <div class="modal-header" style="position:relative; border-bottom: none;">
    <a href="#" style="margin-left: 30px; margin-top: 10px;">
      <img class="img-fluid" src="/assets/Icons/Logo.png" width="100" height="20" class="brand d-inline-block align-top" alt="">
    </a>
    <div class="input-group ml-3 w-25 video-search-container">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-search"></i></span>
      </div>
      <div class="custom-file">
        <input #search (keyup)="searchVideo(search.value)" type="text" class="form-control">
      </div>
    </div>
    <button type="button" class="close pull-right" style="margin-top: -8px;" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let videos of videoGroupedList; let i = index">
      <span class="video-group-title">{{videos.key}}</span>
      <div class="{{i}}{{videos.key | trim}} owl-carousel owl-theme" (click)="selectVideo(i + videos.key)">
        <div class="all-video-carousel-container" *ngFor="let video of videos.value; let idx = index" [attr.data-position]="idx">
          <span class="all-video-play-carousel">
            <span style="display: none;" class="all-video-play-details">{{video | json}}</span>
            <span></span>
          </span>
          <div (click)="showVideoDetails = true;" class="all-video-playArrowDownContainer">
            <i class="all-video-arrowDown fa fa-chevron-down"></i>
            <span style="display: none;" class="all-video-details">{{video | json}}</span>
          </div>
          <span class="title-container">
            <span>{{video.videoName}}</span>
          </span>
          <ng-container *ngIf="video.videoThumbnail == null">
            <img class="all-video-thumbnail-image img-fluid" src="/assets/pictures/no-img.jpg" />
          </ng-container>
          <ng-container *ngIf="video.videoThumbnail != null">
            <img class="all-video-thumbnail-image img-fluid" src="{{video.videoThumbnail}}" />
          </ng-container>
        </div>
      </div>
      <div [hidden]="!showVideoDetails" [class.easeIn]="showVideoDetails" *ngIf="videoDetails.categoryName === videos.key" class="video-details container-fluid">
        <div class="row mx-auto">
          <div class="col-md-6">
            <p class="text-right">
              {{videoDetails.videoName}}
            </p>
            <p class="text-right">
              {{videoDetails.videoDescription}}
            </p>
            <p class="text-right">
              <button (click)="playButtonVideo()" style="padding: 5px 25px 5px 25px;" type="button" class="btn btn-danger"><i class="fa fa-play"></i> Play</button>
            </p>
          </div>
          <div class="col-md-6">
            <ng-container *ngIf="videoDetails.videoThumbnail == null">
              <img height="380" width="540" class="img-fluid" src="/assets/pictures/no-img.jpg" />
            </ng-container>
            <ng-container *ngIf="videoDetails.videoThumbnail != null">
              <img class="img-fluid" height="380" width="540" src="{{videoDetails.videoThumbnail}}" />
            </ng-container>
            <button (click)="showVideoDetails = false;" type="button" class="close pull-right" aria-label="Close">
              <span style="font-size: 40px;" aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
