.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  max-width: none;
}

.modal-content {
  min-height: 100%;
  height: auto;
  border-radius: 0;
  border: 0px;
  opacity: 0.97;
  background-color: #212529;
}

.modal-backdrop.show {
  opacity: 0;
}
.video-details  {
  color: #dee2e6;
}
.video-group-title {
  font-weight: bold;
  margin-left: 30px;
  font-size: 21px;
  color: #ffffff;
}

.all-video-thumbnail-image {
  height: 150px;
  border-radius: 0px;
}

.all-video-play-carousel {
  width: 41px;
  height: 41px;
  top: 63%;
  right: 53%;
  position: absolute;
  border: 3px solid #fff;
  margin: -28px;
  border-radius: 30px;
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.2);
  box-shadow: 1px 1px 2px rgba(0,0,0,.2);
  background-color: transparent;
}

  .all-video-play-carousel span:not(.playArrowDownContainer) {
    border-top: 9px solid rgba(245, 237, 237, 0);
    border-bottom: 10px solid transparent;
    border-left: 20px solid #ffffff;
    top: 7px;
    left: 11px;
    position: absolute;
    width: 0;
    height: 0;
  }

.all-video-playArrowDownContainer {
  top: 85%;
  position: absolute;
  left: 49.9%;
  transform: translate(-50%,-50%);
}

.all-video-arrowDown {
  font-size: 17px;
  transform: scale(2,1);
  color: #e9ecef;
}

  .all-video-arrowDown:hover {
    color: #cb60b3;
  }

.all-video-play-carousel:hover {
  border: 3px solid #cb60b3;
}

  .all-video-play-carousel:hover span {
    border-left: 20px solid #cb60b3;
  }

.video-search-container {
  width: 20%;
}

.slideIn {
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}
.close {
  font-size: 32px;
  color: white;
}
.close:hover {
  color: grey;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }

  100% {
    transform: translateX(0);
  }
}

@-moz-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }

  100% {
    transform: translateX(0);
  }
}


@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.easeIn {
  -webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
