<div class="logo">
    <a href="#"><img src="/assets/images/Logo.png"/></a>
</div>
<div class="main" [@fadeBack]>
    <div id="content">
      <h1> Couchfit. </h1>
      <h4> Choose a plan that suits you.</h4>
      <div class="d-flex flex-row align-items-baseline">
        <div *ngFor="let plans of planTypeList" class="p-2">
            <div class="plan-container card">
                <div class="card-body">
                  <h5 class="card-title">{{plans.PlanName}} Plan</h5>
                  <p class="card-text">${{plans.PlanPrice}}/mo </p>
                  <button (click)="selectPlan(plans)" type="button" class="btn btn-primary">Select</button>
                </div>
              </div>
        </div>
      </div>
      <div class="skip-plan-selection">
          <a [hidden]="planTypeList.length === 0" (click)="skipPlanSelection()" style="color: #007bff; cursor:pointer;"> I want to look around first </a>
      </div>
    </div>
</div>
<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "medium"
color = "#fff"
type = "ball-clip-rotate-pulse">
<span style="color: white; z-index: 999; margin-top: 10px;">Redirecting...</span>
<!-- <div style="margin-top: 10px; color: white; cursor:pointer; text-align:center;">
  <a (click)="cancelPaypalRedirect()">cancel</a>
</div> -->