.logo {
    padding: 20px 20px;
  }
.main {
    text-align:center;
      height: 80vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .plan-container {
    background-color: #8e8e8e;
    color: white;
    width: 200px;
  }
  .skip-plan-selection {
      margin-top: 20px;
  }