<div class="logo">
    <a href="#"><img src="/assets/images/Logo.png"/></a>
</div>
<div class="main" [@fadeBack]>
    <div class="d-flex flex-column">
        <div class="p-1">
            <h1>Congratulations! You are now subscribed to couchfit premium plan</h1>
            <h4>Browse our high quality videos and start working out!</h4>
        </div>
        <div class="p-1">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <div class="p-2">
                    <button (click)="browseVideos()" type="button" class="btn btn-success">Browse Videos</button>
                </div>
            </div>
        </div>
    </div> 
</div>