<div class="logo">
  <a href="#"><img src="/assets/images/Logo.png"/></a>
</div>
<div class="main" [@fadeBack]>
    <div style="font-size: 19px; margin-left: 75px;">
      <h3>Subscription Confirmation</h3>
      <h6 style="color: red; width: 350px;">{{errorMessage}}</h6>
      <div class="d-flex flex-row">
        <div class="p-2">
          Plan Name:
        </div>
        <div class="p-2">
          <b>{{selectedPlan.PlanName}}</b>
        </div>
      </div>
      <div class="d-flex flex-row">
          <div class="p-2">
            Plan Price:
          </div>
          <div class="p-2">
            <b>${{selectedPlan.PlanPrice}}  monthly subscription</b>
          </div>
      </div>
      <div class="d-flex flex-row">
          <div class="p-2">
            Name:
          </div>
          <div class="p-2">
            <b>{{stripeSubscriptionViewModel.FirstName}}</b>
          </div>
      </div>
      <div class="d-flex flex-row">
          <div class="p-2">
            Credit/Debit card number:
          </div>
          <div class="p-2">
            <b>{{stripeSubscriptionViewModel.CreditCardNumber}}</b>
          </div>
      </div>
      <div class="d-flex flex-row">
        <div class="p-2">
          Expiry:
        </div>
        <div class="p-2">
          <b>{{stripeSubscriptionViewModel.CreditExpiry}}</b>
        </div>
      </div>
      <div class="d-flex flex-row">
          <div class="p-2">
            Payment Method:
          </div>
          <div class="p-2">
            <b>Credit/Debit card</b>
          </div>
      </div>
      <div class="d-flex flex-row">
          <div class="p-2">
            <button (click)="payWithCC()" type="button" id="btn-paypal" class="btn btn-success">
                Get couchfit
            </button>
          </div>
          <div class="p-2">
              <button (click)="backToPaymentSelection()" type="button" id="btn-paypal" class="btn btn-default">
                  Back 
              </button>
          </div>
      </div>
      <div class="d-flex flex-row">
        <div class="p-2">
            <p style="font-size: 16px; font-weight: normal">No commitment, cancel anytime!</p>
        </div>
      </div>
    </div>
</div>
<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "medium"
color = "#fff"
type = "ball-clip-rotate-pulse">
<span style="color: white; z-index: 999; margin-top: 10px;">{{redirectStatus}}</span>
<!-- <div style="margin-top: 10px; color: white; cursor:pointer; text-align:center;">
  <a (click)="cancelPaypalRedirect()">cancel</a>
</div> -->