@font-face {
  font-family: Calibre;
  src: url('./assets/fonts/Calibre-Regular.otf');
}
body{
  font-family: Calibre;
}
body > .container {
  padding-top: 60px;
}
.ElementsApp .InputElement.is-invalid {
  color: red;
  }
.ElementsApp, .ElementsApp .InputElement {
  color: #5b5b5b;
  /* font-weight: 600; */
  text-align: center;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}