/* Application-wide Styles */
.video-js {
  position: unset !important;
}
.video-js.vjs-16-9 {
  padding-top: 0px !important;
}
.video-js .vjs-tech {
 -o-object-fit: fill !important;
 object-fit: fill !important;
 background-color: black !important;
}
.vg-overlay-play {
  color: #9d9d9d !important;
  width: 80% !important;
  left: 10%;
}
.no-margin {
  margin: 0;
}
.max-width {
  width: 100%;
}
 /* .vjs-big-play-centered .vjs-big-play-button {
  border-radius: 100px;
  height: 64px;
  width: 72px;
 }
 .vjs-icon-play:before {
  margin-top: 7px;
  font-size: 45px;
 } */
 .vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started .vjs-big-play-button {
   display: block;
}
/* .video-js .vjs-big-play-button {
  background-image: url('/assets/pictures/btn_play.png') !important;
} */