.main {
  padding: 50px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.main p {
  color: white;
  font-size: 2rem;
  margin: 0;
}

.cards  {
  display: flex;
  justify-content: center;
  align-content: center;
}

.cards img {
  padding: 0 20px;
}

.note {
  padding: 20px 0;
}
.note p {
  text-align: center;
  color: white;
}
.plan-container {
  background-color: #8e8e8e;
  color: white;
  width: 250px;
  height: 180px;
}