<div class="main bg-dark">
    <div id="content">
      <p> Train with the best. </p>
      <p> Get slim, get strong and get flexible. </p>
      <p> No commitments. Cancel anytime. </p>
    </div>
  </div>
  
  <div class="cards bg-dark">
      <div class="d-flex flex-row align-items-baseline">
          <div *ngFor="let plans of planTypeList" class="p-3">
              <div class="plan-container card">
                  <div class="card-body">
                    <h4 class="card-title">{{plans.PlanName}} Plan</h4>
                    <hr>
                    <h4 class="card-text">${{plans.PlanPrice}}/mo </h4>
                  </div>
                </div>
          </div>
        </div>
  </div>
  
  <div class="note bg-dark">
    <p>*New subscribers only. Monthly subscription fee applied after free trial period</p>
  </div>
  