<div [hidden]="!videoLoaded" [class.easeIn]="videoEaseIn" class="container-fluid max-width video-details-container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-4 video-details-section">
      <h2 class="video-details-title">{{videoModel.videoName}}</h2>
      <hr class="video-details-divider" />
      <p class="video-details-description">
        {{videoModel.videoDescription}}
      </p>
    </div>
    <div class="col-12 col-md-4 video">
      <span class="play-details">
        <img (click)="showPlay()" [hidden]="!showPlayBtn" src="/assets/pictures/btn_play.png" height="65" width="65" />
        <img (click)="showPause()" [hidden]="!showPauseBtn" src="/assets/pictures/btn_pause.png" height="65" width="65" />
      </span>
      <ng-container *ngIf="videoModel.videoThumbnail == null">
        <img class="img-fluid" class="img-fluid" src="/assets/pictures/no-img.jpg" width="580" height="200" />
      </ng-container>
      <ng-container *ngIf="videoModel.videoThumbnail != null">
        <img class="img-fluid" src="{{videoModel.videoThumbnail}}" width="580" height="200" />
      </ng-container>
    </div>
    <div class="col-12">
      <div class="d-flex justify-content-center take-this-class">
        <img src="/assets/pictures/TakeThisClass.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</div>
