
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.easeIn {
  -webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.video-details-container {
  margin-top: 2%;
  margin-bottom: 2%;
}

.scaleUpCenter {
}

.video-details {
  margin-top: 2%;
  text-align: right;
}

.video-details-divider {
  height: 1.1px;
  background: #afafaf;
  border: 0;
}

.video-details-title {
  font-weight: bold;
  color: #757474;
  text-align: right;
}

.video-details-description {
  color: black;
  font-size: 21px;
  text-align: right;
}

.play-details {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 50%;
  right: 50%;
  margin: -28px;
}

  .play-details span {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 12px solid rgba(245, 237, 237, 0);
    border-bottom: 12px solid transparent;
    border-left: 20px solid #dc3545;
    top: 17px;
    left: 25px;
  }

.take-this-class {
  display: none;
}

@media (max-width: 575px) {
  .video-details-divider {
    display: none;
  }

  .video-details-title {
    text-align: center;
  }

  .video-details-description {
    text-align: center;
  }

  .video-details-container .video {
    display: none;
  }

  .take-this-class {
    display: block;
    margin-bottom: 3%;
  }
}

@media (min-width: 576px) and (max-width:767px) {
  .video-details-divider {
    display: none;
  }

  .video-details-title {
    text-align: center;
  }

  .video-details-description {
    text-align: center;
  }

  .video-details-container .video {
    display: none;
  }

  .take-this-class {
    display: block;
    margin-bottom: 3%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .video-details-divider {
    display: none;
  }

  .video-details-title {
    text-align: center;
  }

  .video-details-description {
    text-align: center;
  }

  .video-details-container .video {
    display: none;
  }

  .take-this-class {
    display: block;
    margin-bottom: 3%;
  }

  .video-details-section {
    max-width: 100%;
    flex: 100%;
  }
}

@media (min-width: 992px) and (max-width:1199px) {
  .video-details-divider {
    display: none;
  }

  .video-details-title {
    text-align: center;
  }

  .video-details-description {
    text-align: center;
  }

  .video-details-container .video {
    display: none;
  }

  .video-details-section {
    max-width: 100%;
    flex: 100%;
  }

  .video-details-container {
    margin-top: 12%;
  }
}

@media (min-width: 1200px) {
  .take-this-class {
    display: none !important;
  }

  .video-details-divider {
    display: block;
  }

  .video-details-title {
    text-align: right;
  }

  .video-details-description {
    text-align: right;
  }

  .video-details-container .video {
    display: block;
  }
}
