<app-nav-menu></app-nav-menu>
<app-video-main></app-video-main>
<app-video-carousel-category></app-video-carousel-category>
<app-video-carousel></app-video-carousel>
<app-video-details></app-video-details>
<app-all-videos></app-all-videos>
<app-footer></app-footer>