<div class="container-fluid no-padding max-width video-categories-container">
    <div class="row justify-content-center">
      <div class="col-1 col-md-1 search-btn">
        <!-- <img src="/assets/Icons/SearchButton.png" class="search-img img-fluid" /> -->
      </div>
      <div class="col-12 col-sm-12 col-md-10 col-lg-10 categories-container">
        <div *ngIf="!categoriesLoaded" class='skeleton skeleton-animation-pulse'>
            <div class='bone bone-type-text'></div>
        </div>          
        <ul class="categories">
          <li *ngFor="let category of videoCategories; i as index" (click)="selectCategory(category.categoryId)">{{category.categoryName}}</li>
        </ul>
      </div>
      <div *ngIf="categoriesLoaded" (click)="openAllVideoModal()" class="col-1 col-md-1 dashboard-btn" style="text-align:right;">
        <img src="/assets/Icons/DashboardButton.png" class="toggle-view-img img-fluid" />
      </div>
    </div>
  </div>
  