.categories > li {
  display: inline;
  padding-left: 15px;
  padding-right:15px;
  font-weight: bold;
  font-size: 22px;
  user-select: none;
}
.categories > li:hover {
  font-size: 22.3px;
  text-decoration: underline;
  font-weight: bolder;
  background-image: linear-gradient(to bottom, #cb60b3 0%,#ad1283 50%,#de47ac 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  cursor: pointer;
}
.categories-container {
  text-align: center;
}
.search-img {
  height: 45px;
  width: 45px;
}
.toggle-view-img {
  height: 45px;
  width: 45px;
}
.video-categories-container {
  margin-top: 2%;
  margin-bottom: 2%;
}

@media (max-width: 575px) { 
  .categories {
    padding: 0px;
    text-align: center;
  }
  .categories-container {
    text-align: left;
  }
  .categories > li {
    font-size: 15px;
    text-align: left;
    padding: 0px 10px 0px 0px;
    margin: 0px 0px 10px 0px;
  }
  .search-btn {
    display: none;
  }
  .dashboard-btn {
    display: none;
  }
 }
@media (min-width: 576px) and (max-width: 767px) { 
  .categories {
    padding: 0px;
    text-align: center;
  }
  .categories-container {
    text-align: left;
  }
  .categories > li {
    font-size: 18px;
    text-align: left;
    padding: 0px 15px 0px 0px;
    margin: 0px 0px 10px 0px;
  }
  .search-btn {
    display: none;
  }
  .dashboard-btn {
    display: none;
  }
 }

@media (min-width: 768px) and (max-width: 991px) { 

 }

@media (min-width: 992px) and (max-width: 1199px) { 

}

@media (min-width: 1200px) { 

 }