
.footer-container {
    height: 110px;
    box-shadow: -1px -4px 4px 0px rgba(0,0,0,0.20), 0 2px 10px 0 rgba(0,0,0,0.20);
    position: absolute;
    width: 100%;
    background-color: #ffffff;
}
.footer-menu {
    list-style: none;
}
.footer-menu > li {
    display: inline;
    padding-right: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 16px;
    color: #565050;
}
.footer-menu {
    position: relative;
    top: 100%;
}
.copyright-text-container:hover {
    cursor: pointer;
    text-transform:uppercase;
    float: right;
}
.footer-menu > li:hover:not(.copyright-text-container){
    font-weight: bolder;
    font-size:16.2px;
    background-image: linear-gradient(to bottom, #cb60b3 0%,#ad1283 50%,#de47ac 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    cursor: pointer;
}
.copyright {
    float: right;
}
.copyright-text {
    color: grey;
    font-weight:bold;
}

@media (max-width: 575px) { 
    .footer-container {
        box-shadow: none;
    }
    .copyright {
        float:none;
        text-align: center;
    }
    .footer-menu {
        text-align: center;
        position: initial;
    } 
    .footer-container {
        position: inherit;
    }
}
@media (min-width: 576px) and (max-width: 767px) { 
    .footer-container {
        box-shadow: none;
    }
    .copyright {
        float:none;
        text-align: center;
    }
    .footer-menu {
        text-align: center;
        position: initial;
    } 
    .footer-container {
        position: inherit;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
  
}

@media (min-width: 992px) and (max-width: 1199px) { 

}

@media (min-width: 1200px) {

}
@media (min-width: 1024px) and (min-height: 1366px) {
    .footer-container {
        bottom: 0;
        zoom: 0.9
    }
}
@media (min-width: 800px) and (min-height: 1280px) {
    .footer-container {
        bottom: 0;
        zoom: 0.9;
    }
}