<footer class="footer footer-container">
  <div class="container-fluid max-width">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-9">
          <ul class="footer-menu">
              <li>About us</li>
              <li>Support</li>
              <li>Privacy</li>
              <li>Terms</li>
              <li>Corporate</li>
          </ul>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
          <ul class="footer-menu copyright">
              <li class="copyright-text-container"><i class="fa fa-copyright"></i>  2018 COUCHFIT</li>
          </ul>
      </div>
    </div>
  </div>
</footer>