<nav class="navbar navbar-dark bg-dark">
    <div class="navbar-header">
      <a routerLink="/main" href="#" class="navbar-brand">Couchfit</a>
    </div>
       <ul class="nav navbar-default navbar-right">
          <li *ngIf="!startUpService.isAuthenticated">
             <a class="user-nav" href="#" routerLink="/auth/register">Sign up</a>
          </li>
         <li *ngIf="!startUpService.isAuthenticated">
          <a class="user-nav" href="#" routerLink="/auth/login">Login</a>
        </li>
        <li *ngIf="startUpService.isAuthenticated">
           <a class="user-nav" href="#" (click)="logOut()">Logout</a>
         </li>
      </ul>
  </nav>
  
