<div class="logo">
    <a href="#"><img src="/assets/images/Logo.png"/></a>
</div>
<div class="main" [@fadeBack]>
    <div class="d-flex flex-column">
        <div class="p-1">
            <h1>Subscription payment cancelled</h1>
            <p>Made a mistake?</p>
        </div>
        <div class="p-1">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <div class="p-2">
                    <button (click)="retrySubscription()" type="button" class="btn btn-success">Retry subscription</button>
                </div>
                <div class="p-2">
                    <a (click)="skipIntroPayment()" style="color: #007bff; cursor:pointer;">I want to look around first </a>
                </div>
            </div>
        </div>
    </div> 
</div>
<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "medium"
color = "#fff"
type = "ball-clip-rotate-pulse">
<span style="color: white; z-index: 999; margin-top: 10px;">Redirecting...</span>