.logo {
  padding: 20px 20px;
}

.social-media button{
  margin: 0 10px;
  background: white;
  font-color: black;
  border-color: black;
}


h1 {
  font-weight: 525;
}

input {
  padding: 10px 50px;
  text-align: center;
  border-radius: 0px;
}

h3 {
   width: 50%;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 20px 20px;
}

h3 span {
    background:#fff;
    padding:0 10px;
}

.by-clicking {
    padding-top: 10px;
}

input {
  margin: 10px 0;
}
.register-error-container {
  list-style-type: none;
  margin-right: 38px;
}
.register-error-container > li {
  color: red;
}
.invalid-field {
  border: 1px solid red;
}