<div class="main">
  <div class="logo">
    <a routerLink="/main"> <img src="/assets/images/Logo.png"/></a>
  </div>
  <div class="d-flex flex-column align-items-center">
      <h1> Get couchfit. </h1>

      <div class="social-media">
        <app-google-login></app-google-login>
        <app-facebook-login></app-facebook-login>
        <button (click)="openGoogleLogin()"
          type="button"
          id="btn-google"
          class="btn btn-default">
          <i class="fa fa-google-plus"></i> Google
        </button>
        <button (click)="openFbLogin()"
          type="button"
          id="btn-facebook"
          class="btn btn-default">
            <i class="fa fa-facebook"></i> Facebook
        </button>
      </div>

      <h3><span> or </span></h3>
      <ul class="register-error-container" [hidden]="!hasError" *ngFor="let error of errors">
          <li>{{error.description}}</li>
      </ul>
      <div class="d-flex flex-column">
          <input [(ngModel)]="registerModel.Email" [class.invalid-field]="registering && registerModel.Email == null || registerModel.Email === ''" type="email" name="email" placeholder="Sign up with Email"/>
          <input [(ngModel)]="registerModel.ConfirmEmail" [class.invalid-field]="registering && registerModel.ConfirmEmail == null || registerModel.ConfirmEmail === ''" type="email" name="confirmemail" placeholder="Confirm Email" autocomplete="off"/>
          <input [(ngModel)]="registerModel.Password" [class.invalid-field]="registering && registerModel.Password == null || registerModel.Password === ''" type="password" name="password" placeholder="Password" autocomplete="off"/>
          <input [(ngModel)]="registerModel.ConfirmPassword" [class.invalid-field]="registering && registerModel.ConfirmPassword == null || registerModel.ConfirmPassword === ''" type="password" name="password" placeholder="Confirm Password" autocomplete="off"/>
          <button (click)="register()" type="button" class="btn btn-danger get-couchfit"> SIGN UP </button>
        </div>
      <p class="by-clicking"> By clicking SIGN UP! I agree to couchfit's terms and privacy policy. Which can be found here</p>
      <p class="already-account"> Already have an account <a routerLink="/login">Sign In</a></p>
  </div>
</div>