.main {
  background-image: url("/assets/images/Laptop Screen.png");
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 3rem;
  font-weight: 700;
  text-shadow: 0px 3px 4px #111314;
  margin-bottom: 35px;
}

h3 {
  font-weight: 700;
}

p {
  margin: 0;
}
