<div class="main">
  <div class="row">
    <div class="col-lg-12">
      <div id="content">
        <h1> What's Couchfit </h1>

        <h3> Live and On-Demand Exercise Classes </h3>
        <p> From Yoga to Bootcamp and Zumba to Pilates, you'll love</p>
        <p> our selection of classes </p>

        <h3> Amazing Instructors </h3>
        <p> Train with the best, anywhere. We're confident our </p>
        <p> instructors can give you an amazing workout, anytime </p>


        <h3> Excercise Anytime, Anywhere </h3>
        <p> Workout with couchfit anywhere with a phone, tablet or</p>
        <p> laptop. No app required. </p>
      </div>
    </div>
  </div>
</div>
