body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    zoom: 0.9;
  }
  .container-fluid {
    padding: 0px !important;
  }
  .row {
    padding: 0px !important;
    margin: 0px !important;
  }
  .max-width {
    width: 100%;
  }
  
  h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  
  body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
  }
  @media (min-width: 768px) and (max-width: 991px) { 
    body {
      zoom: 1;
    }
   }
  @media (min-width: 992px) and (max-width:1199px) {
    body {
      zoom: 1;
    }
   }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }