<div style="height: 255px;">  
    <div class="video-carousel owl-carousel owl-theme" #owlCarousel>          
        <div class="video-carousel-container" *ngFor="let video of videoList; i as index">
        <span class="play-carousel">
            <span style="display: none;" class="video-play-details">{{video | json}}</span>
            <span></span>
        </span>
        <div class="playArrowDownContainer"><i class="arrowDown fa fa-chevron-down"></i>
            <span style="display: none;" class="video-details">{{video | json}}</span>
        </div>
        <span class="title-container">
            <span>{{video.videoName}}</span>
        </span>
        <ng-container *ngIf="video.videoThumbnail == null">
            <img class="thumbnail-image img-fluid" src="/assets/pictures/no-img.jpg" />
        </ng-container>
        <ng-container *ngIf="video.videoThumbnail != null">
            <img class="thumbnail-image img-fluid" src="{{video.videoThumbnail}}" />
        </ng-container>
        </div>
    </div>
    <div *ngIf="!carouselLoaded" class='skeleton skeleton-animation-pulse'>
            <div class='bone bone-type-multiline'></div>
            <div class='bone bone-type-multiline'></div>
            <div class='bone bone-type-multiline'></div>
     </div>  
</div>
    