
.owl-carousel .owl-item > div {
  position: relative;
}
.owl-nav { display: block !important; }
.owl-prev {
  position: absolute;
  top: 5%;
  left: 1.2%;
  background-color: rgba(0, 0, 0, 0.3) !important;
  height: 76%;
  width: 3%;
  display: none !important;
}
.owl-next {
  position: absolute;
  top: 5%;
  right: 1.2%;
  background-color: rgba(0, 0, 0, 0.3) !important;
  height: 76%;
  width: 3%;
  display: none !important;
}
.owl-carousel:hover .owl-prev{
  display: inline-block !important;
}
.owl-carousel:hover .owl-next  {
  display: inline-block !important;
}
.owl-prev:hover {
  background: 0 0;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: 0 0;
}
.owl-prev i, .owl-next i {
  transform: scale(1,3);
  color: white;
}

.title-container {
  display: none;
  position: absolute;
  padding: 6px 0px 6px 0px;
  width: 100%;
  top: 15%;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.title-container span {
  color: white
}

.play-carousel {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 3px solid #fff;
  top: 50%;
  right: 50%;
  margin: -28px;
  border-radius: 30px;
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.2);
  box-shadow: 1px 1px 2px rgba(0,0,0,.2);
  background-color: transparent;
}

.play-carousel span:not(.playArrowDownContainer) {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 12px solid rgba(245, 237, 237, 0);
  border-bottom: 14px solid transparent;
  border-left: 22px solid #ffffff;
  top: 14px;
  left: 20px;
}

.playArrowDownContainer {
  position: absolute;
  left: 49.9%;
  top: 80%;
  transform: translate(-50%,-50%);
}
.arrowDown {
  transform: scale(2,1);
  color: #e9ecef;
  font-size: 20px;
}
.owl-prev:focus {
  outline: 0;
}
.owl-next:focus {
  outline: 0;
}
.owl-item {
  margin-bottom: 15px;
  margin-top: -1.3px;
}
.owl-item > div {
  cursor: pointer;
  margin: 6% 8%;
  transition: margin 0.4s ease;
}
.owl-item.center > div {
  cursor: auto;
  margin: 0;
  height: auto;
  width: auto;
  box-shadow: -7px 12px 18px rgba(8, 8, 8, 0.5);
}
.owl-item:not(.center) > div:hover {
  opacity: .80;
}
.thumbnail-image {
  height: 190px;
  border-radius: 4px 8px;
}
.video-wireframe-skeleton {
  height: 250px;
  margin-left: 2%;
}
@keyframes color-me-in {
  /* You could think of as "step 1" */
  0% {
    background: orange;
  }
  /* You could think of as "step 2" */
  100% {
    background: black;
  }
}
.video-wireframe-content {
  border: 1px solid #d6d6d6;
  box-shadow: 1px 4px 3px 0 rgba(0,0,0,0.20), 1px 5px 10px 0 rgba(0,0,0,0.20);
  text-align: center;
  height: 190px;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.video-carousel {
  box-shadow: 1px 3px 3px 0 rgba(0,0,0,0.20), 1px 5px 7px 0 rgba(0,0,0,0.20);
  height: 250px;
}

.video-carousel-container {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
@media (max-width: 575px) {
  .video-carousel {
    box-shadow: none;
  }

  .title-container {
    display: block;
  }

  .play-carousel {
    display: none;
  }
  .owl-next {
    top: -2%;
  }
  .owl-prev {
    top: -2%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .video-carousel {
    box-shadow: none;
  }

  .title-container {
    display: block;
  }

  .play-carousel {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .title-container {
    display: none;
  }

  .play-carousel {
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .title-container {
    display: none;
  }

  .play-carousel {
    display: block;
  }
}

@media (min-width: 1200px) {
  .title-container {
    display: none;
  }

  .play-carousel {
    display: block;
  }
}
