<div class="container-fluid">
  <div class="col-lg-12 video-container" style="padding: 0px;">
    <!-- <vg-player (onPlayerReady)="onPlayerReady($event)">
      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>

      <vg-controls [hidden]="!videoLoaded">
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
      </vg-controls>

      <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
        <source *ngFor="let video of videoSources" [src]="video.src" type="video/mp4">
      </video>
    </vg-player> -->
    <div *ngIf="!videoLoaded" class='stream skeleton skeleton-animation-pulse'>
      <img class='player bone bone-type-image'>
    </div>
    <videojs *ngFor="let video of videoSources; let idx = index" [idx]="idx" [url]="video.src"></videojs>
  </div>
  <!-- <img (click)="toggleVideo()" class="img-fluid play-img" src="/assets/video-play.png" />
  <span [hidden]="isPlaying" (click)="toggleVideo()" class="play-container-main" #playContainer>
    <span></span>
  </span> -->
</div>
