.container-fluid {
  padding: 0px;
}
.main-video {
  position: relative;
  display: block;
  width: auto;
  text-align: center
}

/* .video-container {
  width: 100%;
  object-fit: inherit;
  height: 540px;
}
video {
  object-fit: inherit;
} */
.hide-bone-container {
  display: none;
}
.play-container-main {
  position: absolute;
  width: 55px;
  height: 55px;
  border: 3px solid #fff;
  top: 35%;
  right: 50%;
  margin: -28px;
  border-radius: 30px;
  box-shadow: -2px 6px 20px rgba(8, 8, 8, 0.5);
  background-color: white;
}

.play-container-main span {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 20px solid #808080;
  top: 12px;
  left: 18px;
}
@media (min-width: 150px) and (max-width: 575px) { 
  .video-container {
    height: 200px;
  }
  .play-container-main {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    top: 46%;
    right: 51%;
    margin: -28px;
    border-radius: 30px;
    -webkit-box-shadow: -2px 6px 20px rgba(8, 8, 8, 0.5);
    box-shadow: -2px 6px 20px rgba(8, 8, 8, 0.5);
    background-color: white;
  }
  .play-container-main span {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 16px solid #808080;
    top: 9px;
    left: 12px;
  }
}


@media (min-width: 576px) and (max-width: 767px) {
  .video-container {
    height: 290px;
  }
  .play-container-main {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    top: 46%;
    right: 51%;
    margin: -28px;
    border-radius: 30px;
    -webkit-box-shadow: -2px 6px 20px rgba(8, 8, 8, 0.5);
    box-shadow: -2px 6px 20px rgba(8, 8, 8, 0.5);
    background-color: white;
  }
  .play-container-main span {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 16px solid #808080;
    top: 9px;
    left: 12px;
  }
 }
 .stream {
  padding: 5px;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.12), 0 1px 6px 0 rgba(0,0,0,0.12);
  background-color: white;
}

.stream-info {
  display: flex;
  margin-top: 10px;
}

.stream .bone.player {
  width: 100%;
  height: 540px;
}

img.profile-pic {
  margin-right: 20px;
}
@media (min-width: 768px) and (max-width: 991px) { 
  .video-container {
    height: 330px;
  }
 }

@media (min-width: 992px) and (max-width: 1199px) {
  .video-container {
    height: 410px;
  }
 }
@media (min-width: 1200px) { 
  .video-container {
    height: 570px;
  }
}