<div class="main">
  <div class="logo">
    <a routerLink="/main"><img src="/assets/images/Logo.png"/></a>
  </div>


  <div class="d-flex flex-column align-items-center">

    <h1> Hey! </h1>

    <div class="social-media">
      <app-google-login></app-google-login>
      <button (click)="openGoogleLogin()"
        type="button"
        id="btn-google"
        class="btn btn-default"
        >
        <i class="fa fa-google-plus"></i> Sign in with Google
      </button>

    </div>
    <div class ="social-media">
      <app-facebook-login></app-facebook-login>
      <button (click)="openFbLogin()"
        type="button"
        id="btn-facebook"
        class="btn btn-default">
          <i class="fa fa-facebook"></i> Sign in with Facebook
      </button>
    </div>
      <h3>or</h3>
      <ul class="login-error-container" [hidden]="!hasError" *ngFor="let error of errors">
          <li>{{error.description}}</li>
      </ul>
      <div class="d-flex flex-column">
          <input [(ngModel)]="loginModel.Email" [class.invalid-field]="logginIn && loginModel.Email == null || loginModel.Email === ''" name="email" type="email" placeholder="Sign in with Email"/>
          <input [(ngModel)]="loginModel.Password" [class.invalid-field]="logginIn && loginModel.Password == null || loginModel.Password === ''" name="password" type="password" placeholder="Password" autocomplete="off"/>
          <button (click)="login()" type="button" class="btn btn-danger get-couchfit"> SIGN IN </button>
      </div>

      <p class="by-clicking"><a href="/forgotpassword"> Forgot your password?</a> </p>
      <p class="already-account"> Don't have an account? <a routerLink="/register">Sign Up</a></p>
  </div>
</div>
