.logo {
  padding: 20px 20px;
}

.social-media button{
  margin: 10px 0px;
  background: white;
  font-color: black;
  border-color: black;
}


h1 {
  font-weight: 525;
}

input {
  padding: 10px 50px;
  text-align: center;
  border-radius: 0px;
}

h3 {
   width: 50%;
   text-align: center;

   margin: 10px 0px;
}

.by-clicking {
    padding-top: 10px;
}

input {
  margin: 10px 0;
}
.login-error-container {
  list-style-type: none;
  margin-right: 35px;
}
.login-error-container > li {
  color: red;
}
.invalid-field {
  border: 1px solid red;
}