<!-- Image and text -->
<nav class="navbar navbar-light bg-light nav max-width">
  <div class="container-fluid no-padding max-width">
    <div class="row max-width">
      <div class="col-4 col-sm-4 col-md-5 col-lg-5 col-xl-5">
        <a href="#">
          <img class="img-fluid" src="/assets/Icons/Logo.png" width="100" height="20" class="brand d-inline-block align-top" alt="">
        </a>
      </div>
      <div class="col-5 col-sm-5 col-md-6 col-lg-6 col-xl-6 premium-logo-container">
        <a href="#">
          <img class="img-fluid" src="/assets/Icons/CTA.png" class="premium-logo d-inline-block align-top" alt="">
        </a>
      </div>
      <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 user-settings-col" (mouseenter)="displayUserMenu(true)">
        <div class="user-settings-container">
          <span class="rounded-circle notification-counter">3</span>
          <a href="#">
            <img class="img-fluid" src="/assets/Icons/person-girl-flat.png" class="user-img rounded-circle d-inline-block align-top" width="60" height="60" alt="">
          </a>
          <ul (mouseleave)="displayUserMenu(false)" [hidden]="!isUserMenuDisplay" class="user-menu">
            <li><i class="user-icon fa fa-user-o" aria-hidden="true"></i></li>
            <li><i class="fa fa-cog" aria-hidden="true"></i></li>
            <li><i class="fa fa-power-off" aria-hidden="true"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
