.nav {
  position: absolute;
  z-index: 100;
  background-color: transparent !important;
  margin-top: 10px;
}
.brand {
  width: 100px;
  height: 20px;
}
.premium-logo {
  width: 120px;
  height: 20px;
}
.user-img {
  width: 60px;
  height: 60px;
}
.notification-counter {
  width: 22px;
  height: 22px;
  background-color: red;
  color: white;
  position: absolute;
  text-align: center;
  right: 110%;
  top: 15%;
}
.user-settings-container {
  position: relative;
  float: right;
}
.user-menu {
  list-style: none;
  position: absolute;
  padding: 5px 10px 5px 10px;
  background-color: white;
  border-radius: 3px 3px;
  right: 17%;
  top: 120%;
  box-shadow: -7px 12px 18px rgba(8, 8, 8, 0.5);
}
.user-menu li {
  font-size: 20px;
}
.user-menu .user-icon {
  font-weight: 500;
  background-image: linear-gradient(to bottom, #cb60b3 0%,#ad1283 50%,#de47ac 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

@media (min-width: 150px) and (max-width: 575px) { 
  .brand {
    width: 70px;
    height: 13px;
  }
  .premium-logo-container {
    text-align: center;
  }
  .premium-logo {
    width: 70px;
    height: 13px;
  }
  .user-img {
    width: 40px;
    height: 40px;
  }
  .user-menu {
    right: 1%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .brand {
    width: 80px;
    height: 15px;
  }
  .premium-logo-container {
    text-align: center;
  }
  .premium-logo {
    width: 80px;
    height: 15px;
  }
  .user-img {
    width: 40px;
    height: 40px;
  }
  .user-menu {
    right: 1%;
  }
 }