.logo {
  padding: 20px 20px;
}
.main {
  text-align:center;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-name {
  margin-top: 20px;
  display: inline-flex;
}

.my-name input {
  height: 5vh;
}
h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-weight: 550;
}

p {
  font-size: 2rem;
}

input {
  margin: 0px 5px 20px 20px;
}

button {
  padding: 10px 50px;
  font-size: 1.5rem;
  margin-bottom: 25px;
}
.invalid-field {
  border: 1px solid red;
}
.gender-container {
  margin-bottom: 25px;
}
.gender-error {
  color: red;
}