<div class="logo">
    <a href="#"><img src="/assets/images/Logo.png"/></a>
  </div>  
<div class="main" [@fadeBack]>
  <div id="content">
    <h1> Couchfit. </h1>
    <h2> Excercise comfortably. </h2>

    <div class="d-flex flex-row align-items-baseline">
      <div class="p-1">
        <span class="intro-name-title">My name is</span>
      </div>
      <div class="p-2">
          <input class="form-control" [class.invalid-field]="validationError && userDetailsModel.FirstName === ''" [(ngModel)]="userDetailsModel.FirstName" required type="text" placeholder="First name">
      </div>
      <div class="p-2">
          <input class="form-control" [class.invalid-field]="validationError  && userDetailsModel.LastName === ''" [(ngModel)]="userDetailsModel.LastName" required type="text" placeholder="Last name">
      </div>
    </div>
    <div class="gender-container">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="genderMale" [(ngModel)]="userDetailsModel.Gender" value="Male" name="gender" class="custom-control-input">
        <label [class.gender-error]="validationError && userDetailsModel.Gender === ''" class="custom-control-label" for="genderMale">Male</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="genderFemale" [(ngModel)]="userDetailsModel.Gender" value="Female" name="gender" class="custom-control-input">
        <label [class.gender-error]="validationError && userDetailsModel.Gender === ''" class="custom-control-label" for="genderFemale">Female</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="genderOther" [(ngModel)]="userDetailsModel.Gender" value="Other" name="gender" class="custom-control-input">
          <label [class.gender-error]="validationError && userDetailsModel.Gender === ''" class="custom-control-label" for="genderOther">Other</label>
        </div>
    </div>
    <div class="btn-go-container">
        <button (click)="updateUserDetail()" class="btn btn-dark">Let's go.</button>
    </div>  

  </div>
</div>
