

<div class="main">
    <div class="logo">
      <a routerLink="/main"><img src="/assets/images/Logo.png"/></a>
    </div>
    <div class="d-flex flex-column align-items-center">
      <h3>Confirm your Email</h3>
      <p>We have sent a confirmation link to your Email. Confirm and start viewing our free videos</p>
    </div>
</div>
  